.title {
  font-size: 1.5em;
  text-align: center;
  font-weight: 800;
}

form {
  background: #051a2c;
  padding: 2em;
}

.form-control {
  margin: 2em 0;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 700;
  text-align: center;
  font-size: 1.2em;
}

.input {
  background: #102c43;
}

.select {
  background: #102c43;
}

@media only screen and (min-width: 1200px) {
  form {
    flex-basis: 60%;
  }
  .form-control {
    flex-direction: row;
  }
  .label {
    flex-basis: 20%;
  }
  .input {
    flex-basis: 40%;
  }
  .select {
    flex-basis: 40%;
  }
}
