.link-element {
  text-decoration: none;
  color: inherit;
  flex-basis: 100%;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-position: center center;
  background-size: cover;
}

.text {
  width: 15ch;
}

.image {
  position: absolute;
  z-index: -1;
  transition: 0.2s ease-in-out;
}

.link-element:hover .image {
  opacity: 0.2;
  -webkit-box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.42);
  box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.42);
}
