.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 2em 1em;
}

.title {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1.5em;
}

@media only screen and (min-width: 1200px) {
  .container {
    padding: 5em;
    width: 100%;
  }
  .title {
    font-size: 2em;
    letter-spacing: 0.2em;
    margin-bottom: 0;
  }

  .links-container {
    margin: 3em 0;
    width: 100%;
    display: grid;
    gap: 10em;
    grid-auto-rows: 300px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
}
