.navigation {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .navigation {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 100%;
  }

  .mobile-navigation-handler {
    display: none;
  }
}
