.background {
  background: rgb(5, 26, 44);
  background: -moz-linear-gradient(
    180deg,
    rgba(5, 26, 44, 1) 0%,
    rgba(4, 18, 30, 1) 10%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(5, 26, 44, 1) 0%,
    rgba(4, 18, 30, 1) 10%
  );
  background: linear-gradient(
    180deg,
    rgba(5, 26, 44, 1) 0%,
    rgba(4, 18, 30, 1) 10%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#051a2c",endColorstr="#04121e",GradientType=1);
}

.container {
  color: white;
  padding: 2em 0;
}

.title {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1.5em;
}

.address {
  text-align: center;
  font-weight: 300;
  padding-bottom: 2em;
}

.map-container {
  width: 60%;
  margin: 0 auto;
}

@media only screen and (min-width: 1200px) {
  .container {
    padding: 5em 0;
  }

  .title {
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 0.2em;
    margin-bottom: 0;
  }

  .address {
    text-align: left;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 0.5em;
  }

  .map-container {
    width: 100%;
  }
}
