.nav {
  flex-basis: 15%;
  color: #99b5cd;
  font-size: 1.2em;
  background-color: #143552;
}
.ul {
  list-style: none;
  padding: 0 2em;
}

.li {
  margin: 1em 0;
}

.link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.dorm-link {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  background: url('/images/management/dorms.svg');
  background-position: center center;
}

.housing-link {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  background: url('/images/management/housing.svg');
  background-position: center center;
}

.back-link {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  background: url('/images/management/back.svg');
  background-position: center center;
}

.link:hover {
  color: white;
}

.link:hover .dorm-link {
  background: url('/images/management/dorms_active.svg');
  background-position: center center;
}

.link:hover .housing-link {
  background: url('/images/management/housing_active.svg');
  background-position: center center;
}

.link:hover .back-link {
  background: url('/images/management/back_active.svg');
  background-position: center center;
}
