.nav {
  flex-basis: 15%;
  color: #99b5cd;
  font-size: 1.2em;
  background-color: #143552;
}
.ul {
  list-style: none;
  padding: 0 2em;
}

.li {
  margin: 1em 0;
}

@media only screen and (min-width: 1200px) {
  .nav {
    min-height: calc(100vh - 3em);
  }
}
