.dropdown-title {
  color: white;
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.title-link {
  color: inherit;
  flex-grow: 1;
  text-decoration: none;
  font-weight: 500;
  font-size: 1em;
  margin: 0.5em 0;
  cursor: pointer;
}

.arrow {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.dropdown-content {
  color: white;
  background-color: #071d30;
  height: 0px;
  transition: height 0.3s ease;
  overflow: hidden;
}

.link {
  margin: 0;
  padding: 0.5em 1em;
  cursor: pointer;
}

.link:hover {
  background-color: #0c3e693d;
}

.active {
  background-color: #0c3e693d;
}

.dropdown-link {
  text-decoration: none;
  color: inherit;
  font-size: 0.8em;
}
