.container {
  background-color: #071d30;
  padding: 1em;
  margin: 1em 1em;
}

.name {
  font-size: 1.2em;
  font-weight: 600;
  display: flex;
}

.resident-name {
  font-weight: 400;
}

.image {
  margin-right: 5px;
}

.flex {
  display: grid;
  gap: 1em;
  margin-bottom: 1em;
}

.form-control {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.verify {
  background-color: rgb(11, 112, 33) !important;
  margin-left: 1em;
  font-size: 1em;
}
.control {
  display: flex;
  justify-content: flex-end;
}

.button {
  font-size: 1em;
  float: right;
}
