.first-step {
  background: #093052;
  flex-basis: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.form-control {
  margin: 2em 0;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 700;
  text-align: center;
  font-size: 1.2em;
}

.flex {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}

.second-step {
  flex-basis: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.appointments-available {
  font-size: 1.2em;
  font-weight: 700;
}

.time-selector {
  display: flex;
  max-width: 250px;
  overflow-y: auto;
  margin: 1em 0;
  padding-bottom: 1em;
}

.time-element {
  padding: 1em 2em;
  border: 1px solid white;
  margin-right: 1.5em;
  cursor: pointer;
}

.time-element:hover {
  background: #083052;
}

.time-element:active {
  background: #083052;
}

.time-selected {
  background: #083052;
}

.inline-form {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.inline-label {
  margin-bottom: 1em;
  font-weight: 600;
}

@media only screen and (min-width: 1200px) {
  .flex {
    flex-direction: row;
  }
  .first-step {
    flex-basis: 30%;
  }
  .second-step {
    flex-basis: 70%;
    padding: 1em 2em;
    text-align: left;
  }
  .time-selector {
    max-width: 800px;
  }

  .second-step .form-control {
    flex-basis: 0;
  }

  .inline-form {
    flex-direction: row;
  }
  .inline-label {
    flex-basis: 20%;
  }

  .input {
    flex-basis: 50%;
  }

  .confirm {
    width: 15%;
    font-size: 1em;
    font-weight: 700;
  }
}
