.title {
  font-size: 2em;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.title:hover {
  text-decoration: underline;
}

.flex-title {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 1.5em;
  padding-left: 5px;
}

.tables {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1200px) {
  .flex-title {
    flex-direction: row;
    align-items: center;
  }
}
