.button {
  background: #1d7dcf;
  font-weight: 800;
  outline: none;
  border: none;
  margin-top: 5px;
  padding: 0.5em 1.5em;
  font-size: 1.2em;
  color: inherit;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

.button:hover {
  transform: translateY(-0.5em);
}
