.image {
  position: absolute;
  height: 250px;
  object-fit: cover;
}

@media only screen and (min-width: 1200px) {
  .image {
    position: absolute;
    height: 400px;
    object-fit: cover;
  }
}
