.active {
  background: #143552;
}

.link {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 1em;
  text-transform: uppercase;
  font-weight: 600;
}

.link:active {
  background: #143552;
}
