.navigation {
  padding: 2em;
  flex-basis: 100%;
  text-align: right;
}

.navigation-link {
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.1em;
  color: inherit;
  margin: 0 1em;
}

.navigation-link:hover {
  text-decoration: underline;
}
