.container {
  flex-basis: 100%;
  cursor: pointer;
  position: relative;
}

.select-visible-container {
  border-bottom: 1px solid white;
  font-weight: 400;
  display: flex;
}

.selected-item {
  flex-basis: 80%;
  padding: 0.5em;
}

.select-arrow {
  flex-basis: 20%;
  text-align: right;
}
.select-arrow img {
  height: 100%;
}

.select-arrow.up {
  background: black;
}

.select-arrow.down {
  background: white;
}

.select-items {
  background: #04121e;
  color: white;
  padding: 0.5em;
  position: absolute;
  z-index: 1;
  min-width: 300px;
}

.select-items div {
  padding: 1em;
}

.select-items div:hover {
  background: #051a2c;
}
